$font-size: 0.9em !default;

// Base
$a-button-border-radius: 3px !default;
$a-button-height: 44px !default;
$a-button-icon-size: 24px !default;
$a-button-icon-spacing: 8px !default;
$a-button-icon-intutive-adjustment: -8px !default;
$a-button-margin: 0 auto !default;
$blockquote-border-width: 3px !default;
$blockquote-margin: 1.0em 0 !default;
$blockquote-padding: 8px 0 8px 1.0em !default;
$dl-spacing: 1.0em !default;
$heading-margin: 2.0em 0 0.5em !default;
$heading-default-font-size: 100% !default;
$h1-font-size: 150% !default;
$h2-font-size: 150% !default;
$h3-font-size: 130% !default;
$list-indent: 1.5em !default;
$p-line-height: 160% !default;
$p-margin: 1.0em 0 !default;
$pre-border-radius: 3px !default;
$pre-line-height: 120% !default;
$pre-padding: 8px !default;

// Bone
$main-default-width: 800px !default;
$head-code-default-width: 400px !default;
$sidebar-default-width: 260px !default;
$main-wide-width: 1200px !default;
$head-code-wide-width: 400px !default;
$sidebar-wide-width: 400px !default;

// Header
$header-padding: 16px 0 !default;
$logo-height: 70px !default;
$logo-width: 280px !default;
$logo-image-height: 64px !default;
$logo-image-width: 80px !default;
$logo-image-spacing: 8px !default;
$logo-title-offset: 4px !default;
$logo-title-font-size: 35px !default;
$logo-subtitle-offset: 8px !default;
$logo-subtitle-font-size: 14px !default;
$search-box-border-radius: 3px !default;
$search-box-border-width: 1px !default;
$search-box-height: 24px !default;
$search-box-width: 240px !default;
$search-box-button-padding: 0 0.5em !default;

// Site links
$site-links-separator-width: 1px !default;
$site-links-height: 36px !default;
$site-links-inner-min-width: 1000px !default;
$site-links-item-padding: 0 0.75em !default;
$site-links-item-width: 100px !default;

// Head
$head-intro-padding: 1.5em 32px 1.5em 0 !default;
$head-intro-p-font-size: 90% !default;
$head-code-font-size: 80% !default;
$head-code-padding: 24px 36px !default;

// Content
$content-heading-border-width: 1px !default;
$content-padding: 2.0em 32px 2.0em 0 !default;
$post-padding: 1.0em 0 !default;
$post-info-font-size: 90% !default;
$news-item-h-spacing: 10% !default;
$news-item-v-spacing: 1.0em !default;

// Sidebar
$sidebar-border-width: 1px !default;
$sidebar-margin: 32px 0 !default;
$sidebar-padding: 16px !default;
$sidebar-h3-font-size: 120% !default;
$sidebar-item-margin: 1.0em 0 !default;
$sidebar-item-padding: 16px 8px !default;
$sidebar-item-separator-width: 1px !default;

// Footer
$footer-font-size: 90% !default;
$footer-padding: 1.0em 0 !default;

// Misc
$shadow-thin-width: 1px !default;
$shadow-thick-width: 3px !default;
