---
layout: page
title: Ruby Programming Language
lang: en

javascript:
 - examples

header: |
  <div id="intro">
    <h1>Ruby is...</h1>

    <p>
    A dynamic, open source programming language with a focus on
    simplicity and productivity. It has an elegant syntax that is
    natural to read and easy to write.
    </p>

    <a href="about/">Read More...</a>
  </div>
  <div id="code"></div>

sidebar: |
  <a href="downloads/">
    <img src="/images/download.gif" alt="Download Ruby" title="" />
  </a>

---

{% for post in site.categories.en limit:2 %}
<div class="post">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

  {{ post.content | strip_html | truncatewords: 25 }}

  <p><a href="{{ post.url }}">Continue Reading...</a></p>

  <span class="post-info">Posted By {{ post.author }} on {{ post.date | date_to_string }}</span>
</div>
{% endfor %}

<div id="news">
  <h3><a href="news/">Other News</a></h3>
  <ul>
    {% for post in site.categories.en offset:2 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">Posted By {{ post.author }} on {{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.categories.en offset:5 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">Posted By {{ post.author }} on {{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>

  <p class="more">
    <a href="/en/news/">More News…</a>
  </p>
</div>
