/* Hero Section - Main Illustrations Positioning */

/* Top Left */
.hero-illust-robot {
  top: 15.9%;
  left: 7.2%;
  transform: rotate(-45deg);
}

.hero-illust-justin {
  top: 18%;
  left: 19.52%;
  transform: rotate(8deg);
}

.hero-illust-spitz {
  top: 8%;
  left: 28%;
  transform: rotate(-3deg);
}

/* Top Center */
.hero-illust-cat {
  top: 74%;
  left: 35.5%;
  transform: rotate(-5deg);
}

.hero-illust-gem01 {
  top: 4%;
  left: 45%;
  transform: rotate(15deg);
}

.hero-illust-beer {
  top: 6%;
  left: 52%;
  transform: rotate(-8deg);
}

.hero-illust-mary {
  top: 10%;
  left: 60%;
  transform: rotate(3deg);
}

/* Top Right */
.hero-illust-beanie {
  top: 65.5%;
  left: 24.7%;
  transform: rotate(-25deg);
}

.hero-illust-matz {
  top: 12.3%;
  left: 84.6%;
  transform: rotate(62deg);
}

.hero-illust-gem02 {
  top: 15%;
  left: 88%;
  transform: rotate(-10deg);
}

/* Middle Left */
.hero-illust-boxes {
  top: 38.3%;
  left: 11.5%;
  transform: rotate(-5deg);
}

.hero-illust-gem03 {
  top: 32%;
  left: 22%;
  transform: rotate(12deg);
}

.hero-illust-keyboard {
  top: 54.3%;
  left: 20.2%;
  transform: rotate(-24deg);
}

.hero-illust-mustafa {
  top: 75%;
  left: 54%;
  transform: rotate(12deg);
}

/* Middle Right */
.hero-illust-gem04 {
  top: 28%;
  left: 72%;
  transform: rotate(-7deg);
}

.hero-illust-present {
  top: 34.8%;
  left: 67.3%;
  transform: rotate(10deg);
}

.hero-illust-dachs {
  top: 42%;
  left: 85%;
  transform: rotate(-3deg);
}

.hero-illust-game {
  top: 51.1%;
  left: 70.3%;
  transform: rotate(17deg);
}

.hero-illust-yukiko {
  top: 52%;
  left: 87%;
  transform: rotate(-5deg);
}

/* Bottom Left */
.hero-illust-fire {
  top: 64.5%;
  left: 12%;
  transform: rotate(-10deg);
}

.hero-illust-sheep {
  top: 43.7%;
  left: 5.6%;
  transform: rotate(-14deg);
}

.hero-illust-pen {
  top: 80.3%;
  left: 27%;
  transform: rotate(10deg);
}

.hero-illust-ink {
  top: 83.6%;
  left: 29.5%;
  transform: rotate(-5deg);
}

/* Bottom Center */
.hero-illust-boy {
  top: 62%;
  left: 32%;
  transform: rotate(4deg);
}

.hero-illust-coffee {
  top: 80.2%;
  left: 42.2%;
  transform: rotate(-6deg);
}

.hero-illust-kevin {
  top: 68%;
  left: 52%;
  transform: rotate(3deg);
}

/* Bottom Right */
.hero-illust-note {
  top: 66%;
  left: 65%;
  transform: rotate(-4deg);
}

.hero-illust-train {
  top: 74.2%;
  left: 78.3%;
  transform: rotate(0deg);
}

/* Additional gems scattered */
.hero-illust-gem05 {
  top: 25%;
  left: 85%;
  transform: rotate(20deg);
}

.hero-illust-gem06 {
  top: 55%;
  left: 48%;
  transform: rotate(-15deg);
}

.hero-illust-gem07 {
  top: 38%;
  left: 58%;
  transform: rotate(10deg);
}

.hero-illust-gem08 {
  top: 78%;
  left: 8%;
  transform: rotate(-12deg);
}

.hero-illust-daisy {
  top: 11.4%;
  left: 72.6%;
  transform: rotate(0deg);
}
