/* Hero Section - Main Illustrations Positioning */

.hero-illust-robot {
  top: 15.9%;
  left: 7.2%;
}

.hero-illust-justin {
  top: 18%;
  left: 19.52%;
}

.hero-illust-spitz {
  top: 54.2%;
  left: 84.7%;
}

.hero-illust-cat {
  top: 74%;
  left: 35.5%;
}

.hero-illust-gem01 {
  top: 28.8%;
  left: 89.8%;
}

.hero-illust-beer {
  top: 8%;
  left: 52.9%;
}

.hero-illust-mary {
  top: 60%;
  left: 79%;
}

.hero-illust-beanie {
  top: 65.5%;
  left: 24.7%;
}

.hero-illust-matz {
  top: 12.3%;
  left: 85%;
}

.hero-illust-gem02 {
  top: 29.8%;
  left: 31.5%;
}

.hero-illust-boxes {
  top: 38.3%;
  left: 11.5%;
}

.hero-illust-gem03 {
  top: 57%;
  left: 34%;
}

.hero-illust-keyboard {
  top: 54.3%;
  left: 20.2%;
}

.hero-illust-mustafa {
  top: 75%;
  left: 54%;
}

.hero-illust-gem04 {
  top: 80.2%;
  left: 18.8%;
}

.hero-illust-present {
  top: 34.8%;
  left: 67.3%;
}

.hero-illust-dachs {
  top: 10%;
  left: 34%;
}

.hero-illust-game {
  top: 51.1%;
  left: 70.3%;
}

.hero-illust-yukiko {
  top: 6%;
  left: 62.6%;
}

.hero-illust-fire {
  top: 64.5%;
  left: 12%;
}

.hero-illust-sheep {
  top: 43.7%;
  left: 5.6%;
}

.hero-illust-pen {
  top: 80.3%;
  left: 27%;
}

.hero-illust-ink {
  top: 83.6%;
  left: 29.5%;
}

.hero-illust-max {
  top: 29%;
  left: 80.5%;
}

.hero-illust-coffee {
  top: 80.2%;
  left: 42.2%;
}

.hero-illust-kevin {
  top: 7%;
  left: 28.6%;
}

.hero-illust-note {
  top: 77.4%;
  left: 64.3%;
}

.hero-illust-train {
  top: 74.2%;
  left: 78.3%;
}

.hero-illust-gem05 {
  top: 44.2%;
  left: 77.8%;
}

.hero-illust-gem06 {
  top: 24%;
  left: 72.2%;
}

.hero-illust-gem07 {
  top: 23.5%;
  left: 63.5%;
}

.hero-illust-gem08 {
  top: 7%;
  left: 41.9%;
}

.hero-illust-daisy {
  top: 11.4%;
  left: 72.6%;
}

.hero-illust-gem01-2 {
  top: 60%;
  left: 60.5%;
}

.hero-illust-gem01-3 {
  top: 34%;
  left: 22%;
}
