/* TOC Target highlight */
:target {
  background: #ffc;
}

:target:is(.dark *) {
  background: #854d0e;
}

/* Table of Contents hover styles */
.toc-content a:hover {
  color: #e62923; /* ruby-600 for light mode */
}

.dark .toc-content a:hover {
  color: #f07f7b; /* ruby-400 for dark mode */
}

/* Active link highlight */
.toc-content a.toc-active {
  color: #e62923; /* ruby-600 for light mode */
  font-weight: 700;
}

.dark .toc-content a.toc-active {
  color: #eb544f; /* ruby-500 for dark mode */
}
