{% if site.locales.sidebar[page.lang] %}
  {% assign sidebar = site.locales.sidebar[page.lang] %}
{% else %}
  {% assign sidebar = site.locales.sidebar['en'] %}
{% endif %}

{% if sidebar.get_started != null %}
<div class="cell">
  <h4>{{ sidebar.get_started.text }}</h4>

  <ul class="link-list">
    <li><a href="{{ sidebar.get_started.try_ruby.url }}">{{ sidebar.get_started.try_ruby.text }}</a></li>

    {% if sidebar.get_started.quickstart != null %}
    <li><a href="{{ sidebar.get_started.quickstart.url }}">{{ sidebar.get_started.quickstart.text }}</a></li>
    {% endif %}

    {% if sidebar.get_started.ruby_from_other_languages != null %}
    <li><a href="{{ sidebar.get_started.ruby_from_other_languages.url }}">{{ sidebar.get_started.ruby_from_other_languages.text }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% if sidebar.explore != null %}
<div class="cell">
  <h4>{{ sidebar.explore.text }}</h4>
  <ul class="link-list">
    {% if sidebar.explore.documentation != null %}
    <li><a href="{{ sidebar.explore.documentation.url }}">{{ sidebar.explore.documentation.text }}</a></li>
    {% endif %}

    {% if sidebar.explore.books != null %}
    <li><a href="{{ sidebar.explore.books.url }}">{{ sidebar.explore.books.text }}</a></li>
    {% endif %}

    {% if sidebar.explore.libraries != null %}
    <li><a href="{{ sidebar.explore.libraries.url }}">{{ sidebar.explore.libraries.text }}</a></li>
    {% endif %}

    {% if sidebar.explore.success_stories != null %}
    <li><a href="{{ sidebar.explore.success_stories.url }}">{{ sidebar.explore.success_stories.text }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% if sidebar.participate != null %}
<div class="cell">
  <h4>{{ sidebar.participate.text }}</h4>
  <ul class="link-list">
    {% if sidebar.participate.mailing_lists != null %}
    <li><a href="{{ sidebar.participate.mailing_lists.url }}">{{ sidebar.participate.mailing_lists.text }}</a></li>
    {% endif %}

    {% if sidebar.participate.user_groups != null %}
    <li><a href="{{ sidebar.participate.user_groups.url }}">{{ sidebar.participate.user_groups.text }}</a></li>
    {% endif %}

    {% if sidebar.participate.weblogs != null %}
    <li><a href="{{ sidebar.participate.weblogs.url }}">{{ sidebar.participate.weblogs.text }}</a></li>
    {% endif %}

    {% if sidebar.participate.ruby_core != null %}
    <li><a href="{{ sidebar.participate.ruby_core.url }}">{{ sidebar.participate.ruby_core.text }}</a></li>
    {% endif %}

    {% if sidebar.participate.issue_tracking != null %}
    <li><a href="{{ sidebar.participate.issue_tracking.url }}">{{ sidebar.participate.issue_tracking.text }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
