<a lang="bg" rel="alternate" href="/bg/">&#1041;&#1098;&#1083;&#1075;&#1072;&#1088;&#1089;&#1082;&#1080;&nbsp;(B&#601;lgarski)</a>
<a lang="de" rel="alternate" href="/de/">Deutsch</a>
<a lang="en" rel="alternate" href="/en/">English</a>
<a lang="es" rel="alternate" href="/es/">espa&ntilde;ol</a>
<a lang="fr" rel="alternate" href="/fr/">fran&ccedil;ais</a>
<a lang="id" rel="alternate" href="/id/">Bahasa Indonesia</a>
<a lang="it" rel="alternate" href="/it/">Italiano</a>
<a lang="ja" rel="alternate" href="/ja/">&#26085;&#26412;&#35486;&nbsp;(Nihongo)</a>
<a lang="ko" rel="alternate" href="/ko/">&#54620;&#44397;&#50612;&nbsp;(Hangul)</a>
<a lang="pl" rel="alternate" href="/pl/">polski</a>
<a lang="pt" rel="alternate" href="/pt/">Portugu&ecirc;s</a>
<a lang="tr" rel="alternate" href="/tr/">T&uuml;rk&ccedil;e</a>
<a lang="vi" rel="alternate" href="/vi/">Tiếng Việt</a>
<a lang="zh-CN" rel="alternate" href="/zh_cn/">&#20013;&#25991;(&#31616;)</a>
<a lang="zh-TW" rel="alternate" href="/zh_tw/">中文（台灣）</a>