<p>
{% if site.data.locales[page.lang].languages_heading %}
  {{ site.data.locales[page.lang].languages_heading }}
{% else %}
  {{ site.data.locales['en'].languages_heading }}
{% endif %}
<a href="/bg/">Български</a>,
<a href="/de/">Deutsch</a>,
<a href="/en/">English</a>,
<a href="/es/">Español</a>,
<a href="/fr/">Français</a>,
<a href="/id/">Bahasa Indonesia</a>,
<a href="/it/">Italiano</a>,
<a href="/ja/">日本語</a>,
<a href="/ko/">한국어</a>,
<a href="/pl/">polski</a>,
<a href="/pt/">Português</a>,
<a href="/ru/">Русский</a>,
<a href="/tr/">Türkçe</a>,
<a href="/vi/">Tiếng Việt</a>,
<a href="/zh_cn/">简体中文</a>,
<a href="/zh_tw/">繁體中文</a>.
</p>
