<header class='mobile-nav-wrap'>
  <nav class='mobile-nav'>
    <a class='header__nav__link--close' href='#'>
      <span class='is-hidden'>Close</span>
    </a>
    <a class='header__nav__link' href='/about'>About</a>
    <a class='header__nav__link' href='#'>Reference</a>
    <a class='header__nav__link' href='#'>Tutorial</a>
    <a class='header__nav__link' href='#'>Community</a>
    <a class='header__nav__link' href='#'>Downloads</a>
    <a class='header__nav__link icon' data-icon='★' href='https://github.com/ruby/www.ruby-lang.org'>
      <span class='is-hidden'>GitHub</span>
    </a>
  </nav>
</header>
