<div class="recent-news">

  {% if site.locales.news[page.lang] %}
    {% assign news = site.locales.news[page.lang] %}
  {% else %}
    {% assign news = site.locales.news['en'] %}
  {% endif %}

  <h3>{{ news.recent_news }}</h3>

  <ul>
    {% for post in site.categories[page.lang] limit:5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div> <!-- /recent-news -->

{% if site.locales.sidebar[page.lang] %}
  {% assign sidebar = site.locales.sidebar[page.lang] %}
{% else %}
  {% assign sidebar = site.locales.sidebar['en'] %}
{% endif %}

<p class="syndicate">
  <a href="{{ sidebar.syndicate.recent_news.url }}">
    {{ sidebar.syndicate.recent_news.text }}
  </a>
</p>
