{% if site.data.locales[page.lang].search %}
  {% assign lang = site.data.locales[page.lang].search.lang %}
  {% assign text = site.data.locales[page.lang].search.text %}
{% else %}
  {% assign text = site.data.locales['en'].search.text %}
{% endif %}

<form id="search-form" action="https://duckduckgo.com/?kj=r2&kl={{ lang }}&kj=r2" method="POST">
  <table class="fieldset">
    <tr>
      <td>
        <input class="field" type="text" name="q" size="31" />
      </td>
    </tr>
  </table>
</form>
