{% if page.sidebar != null %}
<div class="navigation">
  {{ page.sidebar }}
</div>
{% endif %}

<div class="navigation">
  <h3><strong>Get Started,</strong> it&#8217;s easy!</h3>

  <ul class="menu">
    <li><a href="http://TryRuby.org">Try Ruby! (in your browser)</a></li>

    <li><a href="/en/documentation/quickstart/">Ruby in Twenty Minutes</a></li>
    <li><a href="/en/documentation/ruby-from-other-languages/">Ruby from Other Languages</a></li>
  </ul>
</div>

<div class="navigation">
  <h3><strong>Explore</strong> a new world&hellip;</h3>
  <ul class="menu">
    <li><a href="/en/documentation/">Documentation</a></li>
    <li><a href="http://www.amazon.com/s/ref=sr_nr_n_5?ie=UTF8&amp;rs=1000&amp;keywords=Ruby&amp;rh=i%3Aaps%2Ck%3ARuby%2Ci%3Astripbooks%2Cn%3A1000%2Cn%3A5">Books</a></li>
    <li><a href="/en/libraries/">Libraries</a></li>
    <li><a href="/en/documentation/success-stories/">Success Stories</a></li>

  </ul>
</div>

<div class="navigation">
  <h3><strong>Participate</strong> in a friendly and growing community.</h3>
  <ul>
    <li><a href="/en/community/mailing-lists/">Mailing Lists</a>: Talk about Ruby with programmers from all around the world.</li>
    <li><a href="/en/community/user-groups/">User Groups</a>: Get in contact with Rubyists in your area.</li>

    <li><a href="/en/community/weblogs/">Weblogs</a>: Read about what&#8217;s happening right now in the Ruby community.</li>
    <li><a href="/en/community/ruby-core/">Ruby Core</a>: Help polish the rough edges of the latest Ruby.</li>
    <li><a href="http://redmine.ruby-lang.org/">Issue Tracking</a>: Report or help solve issues in Ruby.</li>
  </ul>
</div>

<h3>Some Top Ruby Projects</h3>

<ul>
  {% for project in site.top_projects %}
  <li><a href="{{ project.url }}" title="{{ project.description }}">{{ project.name }}</a></li>
  {% endfor %}
</ul>
<p class="more"><a href="/en/libraries/top-projects/">More&#8230;</a></p>


<h3>Syndicate</h3>
<p><a href="/en/feeds/news.rss">Recent News (RSS)</a></p>
