<form action="/en/community/mailing-lists/" id="subscriptions-form" method="post" markdown="1">

| Mailing List | <select name="list"><option value="ruby-talk">Ruby-Talk</option><option value="ruby-core">Ruby-Core</option><option value="ruby-doc">Ruby-Doc</option><option value="ruby-cvs">Ruby-CVS</option></select> |
| First Name | <input name="first_name" value="" /> |
| Last Name | <input name="last_name" value="" /> |
| E-mail Address | <input name="email" value="" /> |
| Action | <select name="action"><option value="subscribe">Subscribe</option><option value="unsubscribe">Unsubscribe</option></select> |
{: .fieldset cellspacing="0" cellpadding="0" border="0"}

<div class="buttons">
<input class="button" type="submit" value="Submit Form" />
</div>
</form>
