@charset "UTF-8";@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

@font-face {
  font-family: "icon";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("eot"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype");
}

body {
  font-size: 18px;
  font-family: georgia, serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  margin-bottom: 28px;
}

a {
  text-decoration: none;
  color: #19ada1;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
a:hover {
  color: #fcb113;
}

pre code {
  margin-bottom: 28px;
  font-size: 15px;
  overflow: auto;
}
.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

.l-wrap--wide {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1100px;
}

.l-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 960px;
}

.l-wrap--half {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}
@media (min-width: 550px) {
  .l-wrap--half {
    max-width: 450px;
  }
}
.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}
.nav {
  max-width: 200px;
}

.nav__header, .footer__nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link, .footer__nav__link, .footer__nav__link--social, .footer__nav__link--inline {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover, .footer__nav__link:hover, .footer__nav__link--social:hover, .footer__nav__link--inline:hover {
  color: #fcb113;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #29272b;
}

.footer__nav {
  padding-bottom: 50px;
  overflow: auto;
}
@media (min-width: 500px) {
  .footer__nav {
    float: left;
  }
}
@media (min-width: 500px) and (max-width: 750px) {
  .footer__nav {
    width: 40%;
    min-width: 200px;
  }
  .footer__nav:nth-child(even) {
    margin-left: 5%;
  }
}
@media (min-width: 750px) {
  .footer__nav {
    width: 200px;
  }
  .footer__nav:not(:first-child) {
    margin-left: 5%;
  }
}

.footer__nav--wide {
  clear: both;
}

.footer__nav__header, .footer__nav__link, .footer__nav__link--inline, .footer__nav--wide, .footer__nav__link--social {
  color: white;
}

.footer__nav__header {
  border-color: white;
}

.footer__nav__link, .footer__nav__links--inline {
  font-weight: 600;
}

.footer__nav__links--inline {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

.footer__nav__link--inline {
  display: inline;
}

.footer__nav__link--social {
  margin-right: 1.25em;
  float: left;
}

.made-by-dockyard {
  clear: both;
}

.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

html {
  background-color: #343237;
}

@media (max-width: 900px) {
  header {
    position: relative;
  }
}

.home .header--full-wrap {
  background-color: #29272b;
}
.home .header--full {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 960px;
}
.home .header__nav__link, .home .header__nav__link--close {
  color: white;
}
.home .club-sandwich {
  color: white;
}

.main {
  padding-bottom: 3em;
}

.club-sandwich {
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.club-sandwich:hover {
  color: #fcb113;
}
@media (max-width: 900px) {
  .club-sandwich:before {
    position: absolute;
    top: 8px;
    right: 5%;
    font-size: 2em;
    font-family: "icon";
    content: "≡";
  }
}

.wrap {
  background-color: white;
}
@media (max-width: 900px) {
  .wrap {
    margin-left: 0;
    position: relative;
    float: left;
    width: 100%;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: margin-left;
    -moz-transition-property: margin-left;
    -o-transition-property: margin-left;
    transition-property: margin-left;
  }
}

@media (max-width: 900px) {
  .header__nav__link--close:before {
    font-size: 2em;
    font-family: "icon";
    content: "X";
  }
}

@media (max-width: 900px) {
  .mobile-nav-showing {
    margin-left: -231px;
  }
}

@media (max-width: 900px) {
  .mobile-nav-wrap {
    min-height: 100%;
    overflow: hidden;
  }
}
@media (min-width: 900px) {
  .mobile-nav-wrap {
    display: none;
  }
}

.logo {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 4px;
  display: inline-block;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: #e62c2d;
  letter-spacing: 3px;
}
.logo:before {
  margin-right: 10px;
  display: block;
  float: left;
  height: 30px;
  width: 45px;
  background-image: url(/images/logo.svg);
  content: "";
}
@media (min-width: 900px) {
  .logo {
    float: left;
  }
}

@media (max-width: 900px) {
  .header__nav {
    display: none;
  }
}

.l-header__nav__link {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header__nav__link, .header__nav__link--close {
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #29272b;
  letter-spacing: 3px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.header__nav__link:hover, .header__nav__link--close:hover {
  color: #fcb113;
}
@media (max-width: 900px) {
  .header__nav__link, .header__nav__link--close {
    margin-left: 44px;
    display: block;
  }
}
@media (min-width: 900px) {
  .header__nav__link, .header__nav__link--close {
    margin-left: 35px;
    float: left;
    display: inline-block;
  }
}

.mobile-nav .header__nav__link, .mobile-nav .header__nav__link--close {
  color: white;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.mobile-nav .header__nav__link:hover, .mobile-nav .header__nav__link--close:hover {
  color: #fcb113;
}

.header__nav__link--close {
  margin-left: 35px;
  padding-top: 6px;
  font-size: 20px;
}

.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

.home__section {
  padding-top: 2.75em;
  padding-bottom: 2.75em;
}

.home__intro, .home__communities {
  color: white;
}

.home__intro-wrap {
  clear: both;
  background-color: #29272b;
}

.home__intro {
  padding-top: 60px;
  padding-bottom: 60px;
}

.home__intro__callout {
  text-align: center;
}
@media (max-width: 800px) {
  .home__intro__callout {
    font-size: 32px;
  }
}
@media (min-width: 800px) {
  .home__intro__callout {
    font-size: 60px;
  }
}

.home__intro__callout--title {
  font-weight: 900;
}

.home__intro__callout--desc {
  font-weight: 300;
  font-style: italic;
}

.home__intro__about {
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
  overflow: auto;
}

.home__intro__code {
  margin-bottom: 40px;
  padding: 2em;
  max-width: 500px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 980px) {
  .home__intro__code {
    float: left;
    width: 70%;
  }
}

@media (min-width: 980px) {
  .home__intro__cta {
    margin-top: 2.5em;
    float: right;
    width: 30%;
  }
}

.home__intro__cta--about, .home__intro__cta--try {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.home__intro__cta--about {
  margin-bottom: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  border: 1px solid #19ada1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}
.home__intro__cta--about:after {
  margin-left: 0.75em;
  position: relative;
  top: 2px;
  font-family: "icon";
  content: "▶";
}
.home__intro__cta--about:hover {
  background-color: #19ada1;
  color: white;
}

.home__intro__cta--try {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 180px;
  border: 1px solid #fcb113;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}
.home__intro__cta--try:after {
  margin-left: 0.75em;
  position: relative;
  top: 2px;
  font-family: "icon";
  content: "▶";
}
.home__intro__cta--try:hover {
  background-color: #fcb113;
  color: white;
}

.home__section__header {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.home__communities {
  overflow: auto;
}

@media (max-width: 800px) {
  .home__section__title--community {
    font-size: 32px;
  }
}
@media (min-width: 800px) {
  .home__section__title--community {
    font-size: 48px;
  }
}

@media (min-width: 550px) {
  .home__community-wrap {
    width: 50%;
  }
}
.home__community-wrap:first-child {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #4d2337), color-stop(100%, #b62b2c));
  background-image: -webkit-linear-gradient(left top, #4d2337, #b62b2c);
  background-image: -moz-linear-gradient(left top, #4d2337, #b62b2c);
  background-image: -o-linear-gradient(left top, #4d2337, #b62b2c);
  background-image: linear-gradient(left top, #4d2337, #b62b2c);
}
@media (min-width: 550px) {
  .home__community-wrap:first-child {
    float: left;
  }
  .home__community-wrap:first-child section {
    margin-right: 10%;
    float: right;
  }
}
.home__community-wrap:last-child {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #744f5f), color-stop(100%, #c25556));
  background-image: -webkit-linear-gradient(left top, #744f5f, #c25556);
  background-image: -moz-linear-gradient(left top, #744f5f, #c25556);
  background-image: -o-linear-gradient(left top, #744f5f, #c25556);
  background-image: linear-gradient(left top, #744f5f, #c25556);
}
@media (min-width: 550px) {
  .home__community-wrap:last-child {
    float: right;
  }
  .home__community-wrap:last-child section {
    margin-left: 10%;
  }
}
.nav {
  max-width: 200px;
}

.nav__header, .sidebar__nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link, .sidebar__nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover, .sidebar__nav__link:hover {
  color: #fcb113;
}

@media (max-width: 1000px) {
  .sidebar__nav {
    margin-top: 3em;
    margin-bottom: 2em;
  }
}
@media (min-width: 1000px) {
  .sidebar__nav {
    margin-top: 2.5em;
    width: 180px;
    float: right;
  }
}

.sidebar__nav__header {
  border-color: #29272b;
}

.sidebar__nav__link {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #29272b;
}

.internal {
  overflow: auto;
}
@media (min-width: 1000px) {
  .internal .main {
    padding-left: 140px;
    max-width: 600px;
  }
}

@media (min-width: 1000px) {
  .internal__sections {
    padding-left: 140px;
    float: left;
    max-width: 560px;
  }
}
.internal__sections h1, .internal__sections h2, .internal__sections h3, .internal__sections h4, .internal__sections h5, .internal__sections h6 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-weight: 900;
  line-height: 1.25;
}
@media (max-width: 800px) {
  .internal__sections h1 {
    font-size: 32px;
  }
}
@media (min-width: 800px) {
  .internal__sections h1 {
    font-size: 48px;
  }
}
@media (max-width: 800px) {
  .internal__sections h2, .internal__sections h3, .internal__sections h4, .internal__sections h5, .internal__sections h6 {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  .internal__sections h2, .internal__sections h3, .internal__sections h4, .internal__sections h5, .internal__sections h6 {
    font-size: 32px;
  }
}
.internal__sections ul ul, .internal__sections dd {
  margin-bottom: 28px;
}
.internal__sections li {
  margin-top: 28px;
  margin-left: 1em;
  padding-left: 0.5em;
  list-style-type: circle;
}
.internal__sections li:last-child {
  margin-bottom: 28px;
}
.internal__sections img {
  width: 100%;
}
.internal__sections sup {
  position: relative;
  top: 0.25em;
  font-size: 0.75em;
}
.internal__sections strong {
  font-style: italic;
}

.internal__section {
  margin-bottom: 2.75em;
}
.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

.post__date, .post__title, .post__author {
  font-family: "Source Sans Pro", sans-serif;
}

.post__date {
  font-weight: 300;
  font-style: italic;
}

.post__title {
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: #29272b;
}

.post__author {
  font-weight: 600;
}

.posts--home {
  overflow: auto;
}

.post__title, .post p, .post--home p, .post__continue {
  margin-bottom: 14px;
}

.post__continue {
  display: block;
}

.post, .post--home {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-size: 14px;
}

@media (max-width: 550px) {
  .post--home:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
  }
}
@media (min-width: 550px) and (max-width: 800px) {
  .post--home {
    float: left;
    width: 47.5%;
  }
  .post--home:nth-child(even) {
    margin-right: 5%;
    clear: both;
  }
  .post--home:nth-child(n+4) {
    border-top: 1px solid #ebebeb;
  }
}
@media (min-width: 800px) {
  .post--home {
    float: left;
    width: 30%;
  }
  .post--home:not(:nth-child(3n+1)) {
    margin-right: 5%;
  }
  .post--home:nth-child(n+5) {
    border-top: 1px solid #ebebeb;
  }
  .post--home:nth-child(5) {
    clear: both;
  }
}
.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

.is-hidden {
  display: block;
  height: 0;
  text-indent: -9999px;
}

.icon:before, .icon--github:before {
  padding-left: 3px;
  display: inline-block;
  font-family: "icon";
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  content: attr(data-icon);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

.icon--github {
  font-size: 15px;
}
.nav {
  max-width: 200px;
}

.nav__header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-bottom-style: solid;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav__link {
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.nav__link:hover {
  color: #fcb113;
}

@media (min-width: 800px) and (min-height: 600px) {
  .sidebar__nav-is-fixed {
    margin-top: -1em;
    position: fixed;
    bottom: auto;
  }
}

@media (min-width: 800px) and (min-height: 600px) {
  .sidebar__nav-is-at-bottom {
    position: absolute;
    bottom: 180px;
  }
}

.tomorrow-comment, pre .comment, pre .title {
  color: #999999;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99157;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #6699cc;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #cc99cc;
}

pre code {
  display: block;
  background: #343237;
  color: #cccccc;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  padding: 10px;
}
