/*
  high.css - styles for modern browsers
*/

.site-links a, .site-links a:visited, .site-links strong {
  padding-left: 6px;
  padding-right: 6px;
}
.site-links strong a, .site-links strong a:visited {
  padding: 0;
  margin: 0;
  display: inline;
}
header, #main-wrapper {
  overflow: auto;
}
header .site-links {
  float: left;
  width: 100%;
}
#main {
  color: black;
  background-color: white;
  background-image: url(/images/columns.jpg);
  background-position: right;
  background-repeat: repeat-y;
  float: left;
  width: 100%;
}
#main .site-links {
  width: 766px;
  float: left;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#head h1 {
  font-size: 240%;
}
#head a { color: white; }
#intro, #code {
  display: inline;
  float: left;
}
#intro {
  width: 202px;
}
#head .multi-page {
  float: right;
  font-weight: normal;
  margin-top: 18px;
  margin-right: 269px;
  padding-top: 1em;
}
#head .multi-page a,
#head .multi-page strong {
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
#head .multi-page strong {
  border: 2px solid #b0c5dd;
}
#content {
  width: 600px;
}
#content #news ul {
  float: left;
  list-style: none;
  margin: 0;
  margin-right: 10px;
  line-height: 120%;
  padding: 0;
  width: 220px;
}
#content #news .more {
  clear: both;
  margin-top: 1em;
}
#content .error {
  color: red;
}
#content .fieldset {
  border-top: 3px solid #39618b;
  background: #e2ebf6;
  background: #e2eff6;
  width: 100%;
}
#subscriptions-form .fieldset td {
  background-image: url(/images/dark-dotted-underline.gif);
  background-position: bottom;
  background-repeat: repeat-x;
  padding: 5px;
  padding-left: 15px;
}
#content .fieldset td.label {
  text-align: right;
}
#content .buttons {
  margin-top: 1.5em;
}
#content .buttons input[type=submit] {
  font-size: 130%;
}
#sidebar-wrapper {
  width: 237px;
  position: absolute;
  top: 5em;
  right: 5em;
}
#sidebar {
  font-size: 85%;
  margin-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
#sidebar ul, #sidebar ul li {
  margin-left: .75em;
  margin-top: 0;
  padding-left: 0;
}
#sidebar ul li {
  margin-bottom: .25em;
}
#sidebar .navigation {
  margin-bottom: 22px;
}
#sidebar .navigation h3 strong {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
  font-size: 130%;
}
#sidebar .navigation ul,
#sidebar .navigation ul li {
  list-style: none;
  margin: 0;
}
#sidebar .navigation .more {
  padding-bottom: 8px;
}
