@charset "utf-8";

/*
  --------------------------------------
  high.css - styles for modern browsers
  --------------------------------------
*/


/* Reset */

body, h1, h2, h3, h4, h5, h6, 
form, fieldset, input, label, p,
em, strong, a, img {
	vertical-align: baseline;
	font-style: normal;
  list-style-type: none;
	padding: 0;
  margin: 0;
  border: 0;
}

header, footer, aside,
nav, article, section { display:block; }

html { font-size: 62.5%; }


/* Viewport */

html, body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


/* Generic */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
  font-size: 16px;
  margin: 0;
}

p { margin:0 0 15px 0; }
label { cursor:pointer; }
img { border:none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', sans-serif;
}

h3, h4 {
  font-weight: normal;
  color: #bc3f33;
}

a { color: #2c77dc; }
a:hover { color: #bc3f33; }

a:hover img { opacity: .7; }


/* General */

.holder {
  width: 960px;
  margin: auto;
}

.separator, #news {
  display: none;
}

.view-more {
  border-radius: 4px;
  box-shadow: 1px 1px 1px #e7e7e7;
  border: 1px solid #ccc;
  background: #f0f0f0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #f0f0f0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #f0f0f0 100%); /* IE10+ */
  background: linear-gradient(top bottom, #fff 0%, #f0f0f0 100%); /* W3C */
  display: inline-block;
  text-decoration: none;
  padding: 0 10px 0 10px;
  font: bold 11px Arial, sans-serif;
  color: #444;
  height: 30px;
  line-height: 30px;
}

.view-more:hover {
  color: #444;
  opacity: .8;
}


/* Header */

#header {
  width: 100%;
  height: 75px;
  padding: 15px 0 0 0;
  background: #fff;
}

#logo { float: left; }
#logo a img { width: 56px; }


/* Search Box */

#search-box {
  width: 280px;
  margin-top: 10px;
  float: right; 
}

#search-form {
  width: 280px;
  position: relative;
  float: right; 
}

#search-form .fieldset,
#search-form table,
#search-form tr,
#search-form td {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

#search-form .field {
  border-radius: 2px;
  width: 260px;
  height: 36px;
  line-height: 36px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0 10px 0 10px;
  border: 1px solid #ccc;
  color: #666;
  outline: none;
}

#search-form .button {
  width: 30px;
  height: 30px;
  background: none;
  position: absolute;
  text-indent: -9999px;
  outline: none;
  top: 7px;
  right: 1px;
}


/* Site Links (Nav) */

.site-links {
  height: 46px;
  background: #bc3f33;
  border-bottom: 1px solid #e94f40;
  line-height: 46px;
  position: relative;
  font-size: 14px;
  z-index: 400;
}

.site-links a {
  text-decoration: none;
  margin-right: 20px;
  color: #ffe5e3;
}

.site-links a:hover {
  color: #fff;
}


/* Intro */

#intro {
  text-shadow: 0 1px 0 #204c7b;
  width: 100%;
  border-bottom: 10px solid #347bc6;
  background: #204c7b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c66a4), color-stop(100%, #204c7b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* IE10+ */
  background: linear-gradient(top bottom, #2c66a4 0%, #204c7b 100%); /* W3C */
  padding: 35px 0 45px 0;
  color: #fff;
}

#intro h2 {
  font-weight: normal;
  font-family: Georgia, serif;
  font-size: 38px;
  margin: 0 0 10px 0;
}

#intro p {
  width: 50%;
  line-height: 26px;
  color: #e0efff;
  margin: 0;
}

#intro p a {
  text-shadow: none;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  color: #a6d1ff;
}

#intro p a:hover {
  color: #fff;
}

/*-*/

.download-but, .download-but:visited {
  border-radius: 4px;
  height: 44px;
  background: #2c66a4;
  border: 1px solid #4786c9;
  line-height: 44px;
  padding: 0 15px 0 15px;
  margin: 20px 0 0 0;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

.download-but:hover {
  color: #fff;
  border-color: #fff;
}


/* Content */

#content {
  margin: 40px 320px 0 0;
  position: relative;
  line-height: 26px;
}

#content .highlight {
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  background: #222;
  line-height: 19px !important;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  padding: 10px 20px 10px 20px;
  margin: 5px 0 25px 0;
  display: block;
  overflow: auto;
}


/* Sidebar */

#sidebar {
  border-top: 5px solid #347bc6;
  width: 280px;
  background: #fff;
  margin-top: -190px;
  margin-bottom: 40px;
  color: #666;
  float: right;
}

#sidebar h3 {
  border-bottom: 1px solid #ececec;
  margin: 35px 0 10px 0;
  padding-bottom: 7px;
  font-weight: normal;
  font-size: 17px;
  color: #bc3f33 !important;
  line-height: 20px;
}

#sidebar h3 strong {
  font-weight: normal;
}


/* Side Entry */

#side-entry, .recent-news {
  width: 250px;
  background: #f9f9f9;
  padding: 15px;
}

#side-entry:after,
.recent-news:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  min-height: 0;
}

#side-entry ul {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#side-entry li {
  list-style-type: none;
  margin: 5px 0 0 0;
}

#side-entry li:first-child { margin-top: 0; }

#side-entry a {
  font-size: 14px;
  text-decoration: none;
}


/* Recent News */

.recent-news a {
  text-decoration: none;
}

.recent-news ul {
  padding: 0;
  margin: 0;
}

.recent-news li {
  border-top: 1px solid #ececec;
  list-style-type: none;
  padding: 15px 0 15px 0;
  margin: 0;
  display: block;
}

.recent-news li:first-child {
  padding-top: 0;
  border-top: 0;
}


/* Community */

.community-sec ul {
  padding: 0;
  margin: 0;
}

.community-sec li {
  border-top: 1px solid #ececec;
  list-style-type: none;
  padding: 8px 0 5px 0;
  margin: 0;
  display: block;
}

.community-sec li:first-child {
  padding-top: 0;
  border-top: 0;
}

.community-sec a { display: block; }


/* Syndicate */

.syndicate {
  width: 250px;
  background: #f6f6f6;
  padding: 15px;
  margin: 1px 0 0 0;
}

.syndicate a {
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #888;
}


/* Homepage */

#home-page-layout #code { display: block; }
#home-page-layout #sidebar { margin-top: -290px; }

/*-*/

.post {
  margin-bottom: 45px;
}

.post h3 {
  font-size: 27px;
  line-height: 32px;
  font-family: Georgia, serif;
  font-weight: normal;
  color: #000;
}

.post h3 a {
  text-decoration: none;
  color: #000;
}

.post-infos {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #888;
}

.post p {
  margin: 10px 0 20px 0;
  line-height: 25px;
}


/* Post Page */

#page-header {
  text-shadow: 0 1px 0 #204c7b;
  width: 100%;
  border-bottom: 10px solid #347bc6;
  background: #204c7b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c66a4), color-stop(100%, #204c7b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c66a4 0%, #204c7b 100%); /* IE10+ */
  background: linear-gradient(top bottom, #2c66a4 0%, #204c7b 100%); /* W3C */
  color: #fff;
  
  padding: 25px 0 30px 0;
  margin: 0 0 30px 0;
}

#page-header p {
  font-size: 14px;
  margin: 15px 0 0 0;
  color: #e0efff;
}

#page-header h2 {
  width: 65%;
  font-weight: normal;
  font-family: Georgia, serif;
  font-size: 38px;
}

.translated-by {
  background: #eee;
  padding: 10px;
  margin: 0;
}


/* Code */

#code {
  width: 280px;
  background: #222;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  color: #fff;
  z-index: 300;
}

#code code {
  display: block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px !important;
  padding-left: 25px;
  padding-right: 25px;
}

#code .keyword { color: #f9bb00; }
#code .comment { color: #428bdd; }
#code .string {color: #00cc00; }
#code .blank-line { line-height: 70%; }


/* Footer */

footer {
  width: 100%;
  font-size: 14px;
  margin-top: 40px;
  line-height: 24px;
  color: #666;
  clear: both;
}

#content-available {
  background: #f9f9f9;
  border-top: 1px solid #ececec;
  padding: 20px 0 20px 0;
}

#content-available a {
  text-decoration: none;
  color: #b7b7b7;
}

#content-available a:hover { color: #888; }

#credits {
  border-top: 1px solid #fff;
  background: #bc3f33;
  padding: 30px 0 20px 0;
  color: #fff;
}

#credits a { color: #ffd5d1; }
#credits a:hover { color: #fff; }
#credits p { margin: 0 0 10px 0; }

.webdesigner { font-size: 12px; }


/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {

  .holder { width: 700px; }
  #intro p { width: 70%; }

}


/*
Max Width, 686px
Media Queries for Smartphones.
*/

@media only screen and (max-width: 686px) {

  .holder {
    width: 90%;
    padding: 0 5% 0 5%;
  }
  
  #header {
    border-bottom: 5px solid #bc3f33;
    height: auto;
    padding: 0;
  }

  #logo a img { width: 30px; }
  #intro p,
  #sidebar, #content { width: 100% !important; }
  
  #sidebar {
    margin-top: 0 !important;
    border-top: none;
  }
  
  #side-entry {
    width: 94%;
    padding: 3%;
  }
  
  #code,
  #search-box,
  .site-links { display: none !important; }
  
}