/*
  low.css - styles for legacy browsers
*/

a {
  color: #3256B6;
}
a:visited {
  color: #7130B8;
}
a:hover, a:visited:hover {
  color: #C61A1A;
  text-decoration: none;
}
a img { border: 0; }
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Palatino, "Times New Roman", Times, serif;
}
h1 {
  font-size: 300%;
  font-weight: normal;
}
.hidden {
  display: none;
}