/*
  low_vision_shared.css - styles shared between print and high for visually impaired people
*/

@import url(/stylesheets/shared.css);

body {
  font-size: 90%;
}
#content h2 {
  font-size: 180%;
}
#content h3 {
  color: #b60a0a;
  font-size: 180%;
  line-height: 120%;
}
#content h4 {
  font-size: 170%;
  line-height: 120%;
}
#content h5 {
  font-size: 120%;
  line-height: 120%;
}
#content .post-info {
  color: #706f59;
  font-size: 100%;
}
#search-form .field {
  border: 4px solid #a3a39f;
}
#search-form .button {
  border: 4px solid #a3a39f;
  background-color: #f6f6e7;
  color: #9b9b95;
  font-size: 24px;
}