/* General */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

/* Fixed header scroll offset */
html {
  scroll-padding-top: 6rem; /* 96px - header height (80px) + extra spacing */
}

/* TOC Target highlight */

:target { background: #ffc; }

:target:is(.dark *) {
  background: #854d0e;
}

iframe {
  border: none;
}

p.warning {
  color: #CC342D;
}

@media (min--moz-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {
  #home-page-layout #intro-container {
    background-image: url(/images/ruby_pattern@2x.png);
    background-size: 412px 412px;
  }
}

/* Footer credits link styles */
.footer-credits a {
  text-decoration: underline;
  transition: color 0.2s;
}

.footer-credits a:hover {
  color: var(--color-text-hovered);
}
