@media print {
  html, body {
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    float: none !important;
    font-size: 10pt !important;
    line-height: 14pt !important;
    color: black !important;
    background: transparent !important;
    display: block !important;
    min-height: 0 !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
  }

  #header {
    margin: 0 0 5px !important;
    padding: 0 0 5px !important;
    border-bottom: 4pt solid black !important;
  }

  #header_content > a {
    background: none;
    padding-left: 0;
    margin-left: 0;
  }

  #header h1 { font-size: 28px; }

  #search-box,
  #header nav,
  nav.site-links { display: none; }

  #home-page-layout #code pre { margin-right: 24px; }
  #sidebar { margin-right: 24px; }

  #content-wrapper {
    width: 65%;
    padding: 0 24px;
  }

  #home-page-layout #intro {
    padding-right: 24px;
    padding-left: 24px;
  }

  #header_content { padding: 20px 24px 0; }
  #footer { margin: 0; }
}
