/*
	-----159 -
*/

#page {
/*	width: 95%;
	max-width: 95%;
	max-width: auto; */
}


#content-wrapper {
	clear: both;
	float: right;
	display: block;
        width: 100%;
}

#intro {
/*	max-width: 55em; */
		max-width: 90%;
		max-width: auto;
}
#intro p {
/*	width: 80%; */
		max-width: 90%;
		max-width: auto;
}

#code {
  font-size: 100%;
  line-height: 100%;

/*	clear: both;
	float:left; */
/*  padding-top: 24px; */
/*  width: 244px; */
/*	max-width: 100%;
	max-width: auto;
	min-width: 60%;
	min-width: auto; */
}


#code code {
        padding-right: 0em;
        padding-left: 0em;
/*      margin-left: 4em; */
        margin-left : auto ; margin-right : auto ; */
}





#sidebar-wrapper {
	clear: both;
	float: left;
	display: block;
	width: 100%;
	left: 0;
}




