/*
  shared.css - styles shared between print and high
*/

.internal {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2.75em;
  width: 90%;
  max-width: 960px;
}

#content .post {
  margin-bottom: 2em;
}
#content .post-info {
  color: #b0af99;
  font-size: 80%;
}
.warning {
  color: #c61a1a;
  font-size: 125%;
}
