@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import semantic color CSS variables */
@import './semantic-colors.css';

/* Custom fonts if needed */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

@layer base {
  body {
    @apply bg-white text-stone-900 text-base leading-5 font-default;
    @apply dark:bg-stone-900 dark:text-stone-50;
  }
}
