* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}


/*
accesskey
onseiburauza
nametag
tuukinburauza


<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />


*/


/*
<!--

ie8 img width Nasi
IE8 width:auto
ie7 imgSizer.js smooth-resize
iphone yokogamenkirikaeji-kakudai-bousi  maximum-scale=1.0

body { gokonmoodo yokosukuroorubaataisaku
overflow-x: hidden;

html {
overflow-x: hidden;


.message { Border Wo Fukumu SaizuSitei
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: rgba(255,0,0,.5);
    border-bottom: solid 1px #f00;
    box-shadow: 0 2px 4px rgba(255,0,0,.3);
    color: #fff;
    display: none;
    padding: 8px;
    position: absolute;
    text-shadow: 1px 1px 0 #000;
    width: 100%;


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
#logo {

*/

