---
layout: page

javascript:
 - examples

---

{% include title.html %}

{{ content }}

{% assign number_of_excerpts = 4 %}
{% assign number_of_other    = 3 %}{% comment %} number of links per column {% endcomment %}

{% assign offset_other_left  = number_of_excerpts %}
{% assign offset_other_right = number_of_excerpts | plus: number_of_other %}

{% if site.locales.news[page.lang] %}
  {% assign news = site.locales.news[page.lang] %}
{% else %}
  {% assign news = site.locales.news['en'] %}
{% endif %}

{% for post in site.categories[page.lang] limit:number_of_excerpts %}
<div class="post">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

  {{ post.excerpt | markdownify }}

  <p>
    <a href="{{ post.url }}" class="continue-reading">{{ news.continue }}</a>
    <span class="post-info">{{ post.date | posted_by:post.author }}</span>
  </p>

</div>
{% endfor %}

<div id="news">
  <h2><a href="news/">{{ news.other_news }}</a></h2>
  <ul>
    {% for post in site.categories[page.lang] offset:offset_other_left limit:number_of_other %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">{{ post.date | posted_by:post.author }}</span>
    </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.categories[page.lang] offset:offset_other_right limit:number_of_other %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">{{ post.date | posted_by:post.author }}</span>
    </li>
    {% endfor %}
  </ul>

  <p>
    <a href="news/" class="continue-reading">{{ news.more_news }}</a>
  </p>
</div>
