---
layout: page

javascript:
 - examples

sidebar: |
  <a href="downloads/">
    <img src="/images/download.gif" alt="Download Ruby" title="" />
  </a>

---

{% if site.locales.news[page.lang] %}
  {% assign news = site.locales.news[page.lang] %}
{% else %}
  {% assign news = site.locales.news['en'] %}
{% endif %}

{% for post in site.categories[page.lang] limit:3 %}
<div class="post">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

  {{ post.excerpt | markdownify }}

  <p><a href="{{ post.url }}">{{ news.continue }}</a></p>

  <p class="post-info">{{ post.date | posted_by:post.author }}</p>
</div>
{% endfor %}

<div id="news">
  <h3><a href="news/">{{ news.other_news }}</a></h3>
  <ul>
    {% for post in site.categories[page.lang] offset:3 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">{{ post.date | posted_by:post.author }}</span>
    </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.categories[page.lang] offset:6 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">{{ post.date | posted_by:post.author }}</span>
    </li>
    {% endfor %}
  </ul>

  <p class="more">
    <a href="news/">{{ news.more_news }}</a>
  </p>
</div>
