---
layout: default
---

{% if site.data.locales[page.lang].translated_by %}
  {% assign translated_by = site.data.locales[page.lang].translated_by %}
{% else %}
  {% assign translated_by = site.data.locales['en'].translated_by %}
{% endif %}

<div id="content-wrapper" class="prose">
  {% include title.html %}

  <div id="content">
    <p class="post-info">{{ page.date | posted_by:page.author }}{% if page.translator %}<br>
                         {{ translated_by }} {{ page.translator }}{% endif %}</p>

    {{ content }}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    <div class="navigation">
      {% if site.data.locales[page.lang].news %}
        {% assign news = site.data.locales[page.lang].news %}
      {% else %}
        {% assign news = site.data.locales['en'].news %}
      {% endif %}

      <h3><strong>{{ news.recent_news }}</strong></h3>

      <ul class="menu">
        {% for post in site.categories[page.lang] limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% if site.data.locales[page.lang].sidebar %}
      {% assign sidebar = site.data.locales[page.lang].sidebar %}
    {% else %}
      {% assign sidebar = site.data.locales['en'].sidebar %}
    {% endif %}

    <h3>{{ sidebar.syndicate.text }}</h3>
    <p><a href="{{ sidebar.syndicate.recent_news.url }}">{{ sidebar.syndicate.recent_news.text }}</a></p>
  </div>
</div>
<hr class="hidden-modern" />
