---
layout: default
---

{% if site.locales.news[page.lang] %}
  {% assign locales = site.locales.news[page.lang] %}
{% else %}
  {% assign locales = site.locales.news['en'] %}
{% endif %}

<div class='internal__sections'>
  {% include title.html %}

  {% for post in page.posts %}
    <div class='post'>
      <p class='post__date'>{{ post.date | date: "%b. %e, %Y"}}</p>
      <a class='post__title' href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt | markdownify}}
      <a class='post__continue' href="{{ post.url }}">{{ locales.continue }}</a>
      <p class='post__author'>by {{ post.author }}</p>
    </div>
  {% endfor %}
</div>

<div class='sidebar__nav'>
  <h2 class='sidebar__nav__header'>{{ locales.monthly_archives }}</h2>
  {% for month in page.months %}
    <a href="{{ month[0] }}/" class='sidebar__nav__link'>{{ month[1] }}</a>
  {% endfor %}
</div>
