---
layout: default
---

{% if site.data.locales[page.lang].news %}
  {% assign locales = site.data.locales[page.lang].news %}
{% else %}
  {% assign locales = site.data.locales['en'].news %}
{% endif %}

<div id="content-wrapper" class="prose">
  {% include title.html %}

  <div id="content">
    {% for post in page.posts %}
    <div class="post prose">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      {{ post.excerpt | markdownify }}

      <p class="post-link"><a href="{{ post.url }}">{{ locales.continue }}</a></p>

      <p class="post-info">{{ post.date | posted_by:post.author }}</p>
    </div>
    {% endfor %}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    <div class="navigation">
      <h3><strong>{{ locales.yearly_archives }}</strong></h3>

      <ul class="menu">
      {% for year in page.years %}
      <li><a href="{{ year[0] }}/">{{ year[1] }}</a></li>
      {% endfor %}
      </ul>
    </div>

    {% include syndicate.html %}
  </div>
</div>
<hr class="hidden-modern" />
