---
layout: default
---

{% if site.locales.news[page.lang] %}
  {% assign locales = site.locales.news[page.lang] %}
{% else %}
  {% assign locales = site.locales.news['en'] %}
{% endif %}

<div id="page-header">
  <div class="holder">
    {% include title.html %}
  </div>
</div>

<div class="holder">

  <div id="sidebar">
    {% include archives-aside.html %}
  </div>

  <div id="mobile-aside">
    {% include archives-aside.html %}
  </div>

  <div id="content">

    {% for post in page.posts %}
      <div class="post">
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <span class="post-infos">
          {{ post.date | posted_by:post.author }}
        </span>
        {{ post.excerpt | markdownify }}
        <a class="view-more" href="{{ post.url }}">
          {{ locales.continue }}
        </a>
      </div> <!-- /post -->
    {% endfor %}

  </div> <!-- /content -->

</div> <!-- /holder -->
