---
layout: default
---

{% if site.locales.news[page.lang] %}
  {% assign locales = site.locales.news[page.lang] %}
{% else %}
  {% assign locales = site.locales.news['en'] %}
{% endif %}

<div id="page-header">
  <div class="holder">
    {% include title.html %}
  </div>
</div>

<div id="content">
  
  {% for post in page.posts %}
    <div class="post">
      <h3>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h3>
      <p>{{ post.excerpt | markdownify }}</p>
      <p>
        <a href="{{ post.url }}">
          {{ locales.continue }}
        </a>
      </p>
      <p class="post-info">
        {{ post.date | posted_by:post.author }}
      </p>
    </div>
  {% endfor %}
  
</div> <!-- /content -->

<div id="sidebar">
  
  <div class="navigation">
    
    <h3>{{ locales.yearly_archives }}</h3>

    <ul class="menu">
      {% for year in page.years %}
      <li><a href="{{ year[0] }}/">{{ year[1] }}</a></li>
      {% endfor %}
    </ul>
    
  </div> <!-- /navigation -->

  {% include syndicate.html %}

</div> <!-- /sidebar -->