---
layout: default
---

{% if site.data.locales[page.lang].news %}
  {% assign locales = site.data.locales[page.lang].news %}
{% else %}
  {% assign locales = site.data.locales['en'].news %}
{% endif %}

<div id="content-wrapper">
  {% include title.html %}

  <div id="content">
    {% for post in page.posts %}
    <div class="post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      {{ post.excerpt | markdownify }}

      <p class="post-link"><a href="{{ post.url }}">{{ locales.continue }}</a></p>

      <p class="post-info">{{ post.date | posted_by:post.author }}</p>
    </div>
    {% endfor %}

    {% capture year_string %}{{ page.year }}{% endcapture %}

    <p>
      <a href="../">&lt;&lt; {{ locales.back_to_year | replace:'%Y',year_string }}</a>
    </p>
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    {% include syndicate.html %}
  </div>
</div>
<hr class="hidden-modern" />
