---
layout: default
---

{% if site.locales.news[page.lang] %}
  {% assign locales = site.locales.news[page.lang] %}
{% else %}
  {% assign locales = site.locales.news['en'] %}
{% endif %}

<div id="content-wrapper">
  {% include title.html %}

  <div id="content">
    {% for post in page.posts %}
    <div class="post">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

      <p>
      {{ post.content | markdownify | strip_html | truncatewords: 25 }}
      </p>

      <p><a href="{{ post.url }}">{{ locales.continue }}</a></p>

      {% if post.author and post.author != "" %}
      <p class="post-info">{{ post.author }} &ndash; {{ post.date | date_to_string }}</p>
      {% else %}
      <p class="post-info">{{ post.date | date_to_string }}</p>
      {% endif %}
    </div>
    {% endfor %}

    <p>
      <a href="../">&lt;&lt; Back to {{ page.year }} Archives</a>
    </p>
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    <div class="navigation">
    </div>
  </div>
</div>
<hr class="hidden-modern" />
