---
layout: default
---

{% if site.locales.translated_by[page.lang] %}
  {% assign translated_by = site.locales.translated_by[page.lang] %}
{% else %}
  {% assign translated_by = site.locales.translated_by['en'] %}
{% endif %}

<div id="page-header">
  <div class="holder">
    {% include title.html %}
    <p>{{ page.date | posted_by:page.author }}</p>
  </div>
</div>

<div class="holder">

  <div id="sidebar">

    <div class="recent-news">

      {% if site.locales.news[page.lang] %}
        {% assign news = site.locales.news[page.lang] %}
      {% else %}
        {% assign news = site.locales.news['en'] %}
      {% endif %}

      <h3>{{ news.recent_news }}</h3>

      <ul>
        {% for post in site.categories[page.lang] limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>

    </div> <!-- /recent-news -->

    {% if site.locales.sidebar[page.lang] %}
      {% assign sidebar = site.locales.sidebar[page.lang] %}
    {% else %}
      {% assign sidebar = site.locales.sidebar['en'] %}
    {% endif %}

    <p class="syndicate">
      <a href="{{ sidebar.syndicate.recent_news.url }}">
        {{ sidebar.syndicate.recent_news.text }}
      </a>
    </p>

  </div> <!-- /sidebar -->

  <div id="content">

    {{ content }}

    {% if page.translator %}
      <p class="translated-by">
        {{ translated_by }} {{ page.translator }}
      </p>
    {% endif %}

  </div> <!-- /content -->

</div> <!-- /holder -->
