---
layout: default
---

<div id="content-wrapper">
  <div id="head-wrapper-1">
    <div id="head-wrapper-2">
      <div id="head">
        {% if page.header != null %}
        {{ page.header | markdownify }}
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="content">
    {{ content }}
  </div>
</div>
<hr class="hidden-modern" />

<div id="sidebar-wrapper">
  <div id="sidebar">
    {% include sidebar.html %}
  </div>
</div>
<hr class="hidden-modern" />
