---
layout: page
title: "Език за програмиране Ruby"
lang: bg

javascript:
 - examples

header: |
  <div id="intro">
    <h1>Ruby e...</h1>

    <p>
    Динамичен език за програмиране с отворен код, фокусиран върху лесната
    употреба и продуктивноста. Той притежава елегантен и лесен за четене
    и писане синтаксис.
    </p>

    <a href="about/">Прочетете още...</a>
  </div>
  <div id="code"></div>

sidebar: |
  <a href="downloads/">
    <img src="/images/download.gif" alt="Download Ruby" title="" />
  </a>

---

{% for post in site.categories.bg limit:2 %}
<div class="post">
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

  {{ post.content | strip_html | truncatewords: 25 }}

  <p><a href="{{ post.url }}">Прочетете още...</a></p>

  <span class="post-info">Публикувана от {{ post.author }} на {{ post.date | date_to_string }}</span>
</div>
{% endfor %}

<div id="news">
  <h3><a href="news/">Други новини</a></h3>
  <ul>
    {% for post in site.categories.bg offset:2 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">Публикувана от {{ post.author }} на {{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.categories.bg offset:5 limit:3 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <span class="post-info">Публикувана от {{ post.author }} на {{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
